* {
    margin: 0;
}
*, ::after, ::before {
    box-sizing: inherit;
}
body {
    margin: 0;

}
dl, ol, ul {
    margin: 0;
}
:root {
    --black: #191C1F;
    --dark-grey: #5E646A;
    --grey: #83898F;
    --mid-grey: #C2C8CD;
    --light-grey: #ECEFF2;
    --extralight-grey: #F6F8FA;
    --white: #FFFFFF;
    --dangerous: #F13636;
    --green-success: #25CD82;

    --primary-disabled: #ABCAE6;
    --primary: #2A6CEA;
    --primary-hover: #397DFF;   
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-MediumItalic.eot');
    src: local('Graphik LCG Medium Italic'), local('GraphikLCG-MediumItalic'),
        url('../fonts/GraphikLCG-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-MediumItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG-MediumItalic.woff') format('woff'),
        url('../fonts/GraphikLCG-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-SuperItalic.eot');
    src: local('Graphik LCG Super Italic'), local('GraphikLCG-SuperItalic'),
        url('../fonts/GraphikLCG-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-SuperItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG-SuperItalic.woff') format('woff'),
        url('../fonts/GraphikLCG-SuperItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-SemiboldItalic.eot');
    src: local('Graphik LCG Semibold Italic'), local('GraphikLCG-SemiboldItalic'),
        url('../fonts/GraphikLCG-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG-SemiboldItalic.woff') format('woff'),
        url('../fonts/GraphikLCG-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Black.eot');
    src: local('Graphik LCG Black'), local('GraphikLCG-Black'),
        url('../fonts/GraphikLCG-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Black.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Black.woff') format('woff'),
        url('../fonts/GraphikLCG-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Super.eot');
    src: local('Graphik LCG Super'), local('GraphikLCG-Super'),
        url('../fonts/GraphikLCG-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Super.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Super.woff') format('woff'),
        url('../fonts/GraphikLCG-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Thin.eot');
    src: local('Graphik LCG Thin'), local('GraphikLCG-Thin'),
        url('../fonts/GraphikLCG-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Thin.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Thin.woff') format('woff'),
        url('../fonts/GraphikLCG-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-ExtralightItalic.eot');
    src: local('Graphik LCG Extralight Italic'), local('GraphikLCG-ExtralightItalic'),
        url('../fonts/GraphikLCG-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-ExtralightItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG-ExtralightItalic.woff') format('woff'),
        url('../fonts/GraphikLCG-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Regular.eot');
    src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
        url('../fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Regular.woff') format('woff'),
        url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-BoldItalic.eot');
    src: local('Graphik LCG Bold Italic'), local('GraphikLCG-BoldItalic'),
        url('../fonts/GraphikLCG-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-BoldItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG-BoldItalic.woff') format('woff'),
        url('../fonts/GraphikLCG-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-LightItalic.eot');
    src: local('Graphik LCG Light Italic'), local('GraphikLCG-LightItalic'),
        url('../fonts/GraphikLCG-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-LightItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG-LightItalic.woff') format('woff'),
        url('../fonts/GraphikLCG-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-BlackItalic.eot');
    src: local('Graphik LCG Black Italic'), local('GraphikLCG-BlackItalic'),
        url('../fonts/GraphikLCG-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-BlackItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG-BlackItalic.woff') format('woff'),
        url('../fonts/GraphikLCG-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Medium.eot');
    src: local('Graphik LCG Medium'), local('GraphikLCG-Medium'),
        url('../fonts/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Medium.woff') format('woff'),
        url('../fonts/GraphikLCG-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Light.eot');
    src: local('Graphik LCG Light'), local('GraphikLCG-Light'),
        url('../fonts/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Light.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Light.woff') format('woff'),
        url('../fonts/GraphikLCG-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Semibold.eot');
    src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'),
        url('../fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('../fonts/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Bold.eot');
    src: local('Graphik LCG Bold'), local('GraphikLCG-Bold'),
        url('../fonts/GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Bold.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Bold.woff') format('woff'),
        url('../fonts/GraphikLCG-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Extralight.eot');
    src: local('Graphik LCG Extralight'), local('GraphikLCG-Extralight'),
        url('../fonts/GraphikLCG-Extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Extralight.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Extralight.woff') format('woff'),
        url('../fonts/GraphikLCG-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-ThinItalic.eot');
    src: local('Graphik LCG Thin Italic'), local('GraphikLCG-ThinItalic'),
        url('../fonts/GraphikLCG-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-ThinItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG-ThinItalic.woff') format('woff'),
        url('../fonts/GraphikLCG-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-RegularItalic.eot');
    src: local('Graphik LCG Regular Italic'), local('GraphikLCG-RegularItalic'),
        url('../fonts/GraphikLCG-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-RegularItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG-RegularItalic.woff') format('woff'),
        url('../fonts/GraphikLCG-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 0;
    line-height: normal;
}
h1 {
    font-size: 52px;
    line-height: 64px;
}
h2 {
    font-size: 40px;
    line-height: 56px;
}
h3 {
    font-size: 32px;
    line-height: 40px;
}
h4 {
    font-size: 24px;
    line-height: 32px;
}
h5 {
    font-size: 20px;
    line-height: 24px;
}
h6 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}
caption {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--black);
}
p, a {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: normal;
    color: var(--black);
    margin-bottom: 0;
}
p.body-18 {
    font-size: 18px;
    line-height: 32px;
}
p.body-16 {
    font-size: 16px;
    line-height: 28px;
}
p.body-14 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
p.body-12 {
    font-size: 12px;
    line-height: 16px;
}
.bold {
    font-weight: 600;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.black {
    color: var(--black);
}
.dangerous {
    color: var(--dangerous);
}
.dark-grey {
    color: var(--dark-grey);
}
.mid-grey {
    color: var(--mid-grey);
}
.light-grey {
    color: var(--light-grey);
}
.grey {
    color: var(--grey);
}
.extralight-grey {
    color: var(--extralight-grey);
}
.green-success {
    color: var(--green-success);
}
.white {
    color: var(--white);
}
.primary {
    color: var(--primary);
}
.primary-disabled {
    color: var(--primary-disabled);
}
.primary-hover {
    color: var(--primary-hover);
}
.background-extralight-grey {
    background: var(--extralight-grey);
}
.container {
    max-width: 1210px;
    margin: 0 auto;
}
header {
    width: 100%;
    z-index: 2;
    position: relative;
}
.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.header-logo {
    margin: auto 0;
    float: right;
}
.header-menu {
    float: left;
    margin: auto 0;
}
.burger {
    display: none;
}
.mobile-logo {
    position: relative;
    top: -80px;
    left: 0;
    width: min-content;
    padding: 27px 0 27px 15px;
}
.menu {
    display: flex;
    flex-direction: row;
}
.menu li {
    margin: 0px 24px;
    display: inherit;
}
.menu li a {
    color: var(--white);
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
}
.menu li a:hover {
    text-decoration: underline;
}

.mobile-menu {
    list-style: none;
}
#menu__toggle {
    opacity: 0;
    width: 0;
    height: 0;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 20px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1;
    background: url('../img/burger.png') no-repeat center right;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;  width: 100%;
  height: 2px;  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    float: left;
    top: 0;
    left: -100%;  
    width: 100%;
    height: 100%;  
    margin: 0;
    padding: 80px 0;  
    list-style: none;
    text-align: center;  
    background-color: var(--white);
}
.menu__box li * {
    position: relative;
    top: -80px;
}
.menu__box li::after {
    position: relative;
    top: -85px;
    content: '';
    width: calc(100% - 40px);
    height: 1px;
    background: var(--light-grey);
    display: inline-block;
}
.menu__item {
    display: block;
    text-align: left;
    padding: 16px 24px;
    color: var(--grey); 
    font-weight: normal;
    font-size: 18px;
    line-height: 32px; 
    text-decoration: none;
    background: url('../img/arrow_m.png') no-repeat calc(100% - 19px) center;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn {
    background: url('../img/close.png') no-repeat center right;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
main {
    position: relative;
    z-index: 1;
}
.hero {
    height: 960px;
    position: relative;
    top: -80px;
    max-height: 100wh;
    box-sizing: border-box;
    z-index: 3;
}
.hero-img {
    position: relative;
    top: 0;
    background: url('../img/Lunch_atop_a_Skyscraper.png') no-repeat;
    z-index: -1;
    height: 960px;
    min-height: 100vh;
    background-size: cover;
}
.hero-img:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    background-color: rgba(42, 109, 234, 0.8);
    transition: 250ms background-color;
    z-index: -2;
}
.hero-img:hover:after {
    background-color: rgba(42, 109, 234, 0.6);
}
.hero-img img {
    display: block;
    width: 100%;
    height: auto;
}
.hero .container {
    position: absolute;
    top: 0;
    margin: 172px auto 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.hero-header {
    width: 748px;
    margin: 10% auto 0;
    text-align: center;
}
.hero-description {
    padding: 18px 0 92px;
}
button {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0px 10px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 4px;
}
.button-light-grey {
    background: var(--light-grey);
    border: 1px solid var(--light-grey);
}
.button-light-grey:hover {
    background: var(--white);
    border: 1px solid var(--mid-grey);
    box-sizing: border-box;
}
.button-primary {
    background: var(--primary);
    border: none;
    color: var(--white);
}

.button-primary:hover {
    background: var(--primary-hover);
    border: none;
    color: var(--white);
}
.submit-button {
    margin: 0;
    padding: 20px 0;
}
#icons {
    position: relative;
    top: -80px;
}
.icons {
    padding: 0 0 80px;
}
.icons-group {
    padding: 65px 0 0;
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}
.icon-group {
    width: 280px;
    padding-bottom: 80px;
}
.icon {
    padding-bottom: 20px;
}
.icon-heading {
    padding-bottom: 4px;
}
#third-block {
    position: relative;
    top: -60px;
}
.third-block {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    column-gap: 32px;
}
.third-block * {
    width: 592px;
}
.third-block-description * {
    padding-bottom: 18px;
}
.third-block-img {
    background-image: url('../img/2_2.png');
}
.testimonials .container {
    padding: 57px 0 45px;
}
.faq .container {
    padding: 80px 0;
}
.faq h2 {
    padding-bottom: 40px;
}
.faq-group {
    width: 1008px;
    margin: 0 auto;
}
.single-faq::before {
    content: '';
    display: block;
    height: 1px;
    background: var(--extralight-grey);
}
.question, .answer {
    max-width: 936px;
    margin-right: 48px;
}
.question {
    padding: 24px 0 24px;
    height: 32px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.question::before {
    content: '';
    background-image: url('../img/plus.png');
    background-repeat: no-repeat;
    left: 70px;
    right: 20px;
    top: 4px;
    bottom: 0;
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
}
.question:hover::before {
    content: '';
    background-image: url('../img/plus-primary.png');
    background-repeat: no-repeat;
    left: 70px;
    right: 20px;
    top: 4px;
    bottom: 0;
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
}
.question.answered::before, .question.answered:hover::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.question:hover, .question:hover > p {
    color: var(--primary);
    cursor: pointer;
}
.answer {
    padding-bottom: 24px;
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}
.flex-columns {
    display: flex;
    flex-wrap: wrap;
    padding: 67px 0 30px;
}
.flex-column {
    flex-basis: 50%;
    padding-bottom: 37px;
}
.flex-column p {
    padding-right: 32px;
}
.flex-column.bold {
    padding-bottom: 17px;
}
.form .container {
    padding: 80px 0 50px;
}
.form h2 {
    padding-bottom: 44px;
}
form {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    flex-wrap: wrap;
}
.form-group {
    flex: 1 0 384px;
    max-width: 420px;
    margin-bottom: 30px;
    max-height: 64px;
}
.form-item {
    width: 100%;
}
label {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: var(--dark-grey);
}
.form-group>label.label-input{
    position: relative;
    top: -48px;
    left: 18px;
}
input:focus + label.label-input {
    position: relative;
    top: -58px;
    left: 19px;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
}
.non-empty {
    position: relative;
    top: -58px;
    left: 19px;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
}
input {
    background: var(--extralight-grey);
    border: 2px solid var(--extralight-grey);
    box-sizing: border-box;
    border-radius: 4px;
    width: 384px;
    height: 64px;
    padding: 16px;
    font-family: Graphik LCG;
    font-size: 18px;
    color: var(--black);
}
input.correct {
    background-image: url(../img/correct.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
}
input.invalid {
    background-image: url(../img/invalid.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
}
input:focus {
    padding: 28px 16px 4px;
    background: var(--white);
    border: 2px solid var(--mid-grey);
    box-sizing: border-box;
    border-radius: 4px;
}
::placeholder {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: normal;
    font-size: 0;
    line-height: 0;
    color: var(--dark-grey);
}
:focus::placeholder, :focus::-webkit-input-placeholder, :focus::-moz-placeholder {
    font-size: 18px;
    line-height: 32px;
    color: var(--mid-grey);
}
input#checkbox-input {
    width: 24px;
    height: 24px;
    background: var(--white);
    border: 2px solid var(--mid-grey);
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 16px;
}
label.label-checkbox {
    position: relative;
    top: -4px;
}
.footer {
    height: 87px;
}
.footer::before {
    content: '';
    display: block;
    height: 1px;
    background: var(--extralight-grey);
} 
.copyright {
    padding: 28px 0;
}
.card {
    background: var(--white);
    margin: 16px;
    padding: 0;
    border: 0;
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 341px;
    min-height: 316px;
    height: 326px;
}
.card:hover {
    box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.1);
}
.card-header {
    padding: 22px 22px 0;
    margin: 0;
    background-color: var(--white);
    border-bottom: none;
    display: flex;
    column-gap: 16px;
    align-items: start;
    flex-direction: row;
    background: var(--white);
    border-radius: 8px;
}
.card-body {
    padding: 22px;
}
.owl-item {
    width: 373px;
}
.gtco-testimonials {
    position: relative;
    margin-top: 0;
}
.gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}
.gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
}
.gtco-testimonials .owl-nav {
    display: block;
}
.owl-prev {
    position: relative;
    top: -230px;
    left: -50px;
}
.owl-next {
    position: relative;
    top: -230px;
    right: -1155px;
}
.gtco-testimonials .owl-dots {
    text-align: center;
}
.gtco-testimonials .owl-dots span {
    position: relative;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: block;
    background: var(--mid-grey);
    border: none;
    margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
    box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
    background: var(--primary);
    box-shadow: none;
    height: 8px;
    width: 8px;
    margin-bottom: -1px;
}
.gtco-testimonials .card .card-img-top {
    max-width: 100%;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin: 0;
    box-shadow: 0 8px 20px -4px #95abbb;
}
.gtco-testimonials .card h5 {
    color: #01b0f8;
    font-size: 21px;
    line-height: 1.3;
}
.gtco-testimonials .card h5 span {
    font-size: 18px;
    color: #666;
}
.gtco-testimonials .active {
    transition: all 0.3s;
}
.gtco-testimonials .center {
    opacity: 1;
}
.gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 44px;
    width: 44px;
}
@media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    outline: 0;
}
.owl-carousel button.owl-dot {
    outline: 0;
}
.owl-prev span, .owl-next span {
    font-size: 0;
}
.owl-prev span::after {
    width: 18px;
    height: 32px;
    display: inline-block;
    content: '';
    background-image: url('../../src/img/arrow.png');
    background-repeat: no-repeat;
}
.owl-next span::after {
    width: 18px;
    height: 32px;
    display: inline-block;
    content: '';
    background-image: url('../../src/img/arrow.png');
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
.owl-prev:hover span::after {
    content: '';
    background-image: url('../../src/img/arrow-hover.png');
    transform: rotate(180deg);
}
.owl-next:hover span::after {
    background-image: url('../../src/img/arrow-hover.png');
    transform: rotate(0deg);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .desktop-menu {
        display: none;
    }
    .burger {
        display: block;
        width: 62px;
        height: 62px;
        cursor: pointer;
        margin: auto 0;
    }
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
    .header.container {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
    }
    .hero {
        height: 1024px;
        min-height: 1024px;
    }
    .hero .container {
        margin: 397px auto 0;
    }
    .hero-img {
        background: url('../img/Lunch_atop_a_Skyscraper_tablet.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 1024px;
        min-height: 1024px;
    }
    .hero-header {
        margin: 0 auto;
    }
    .hero-header h1 {
        font-size: 32px;
        line-height: 40px;
        max-width: 476px;
        margin: 0 auto;
    }
    .hero-header p {
        font-size: 16px;
        line-height: 28px;
    }
    .hero-description {
        padding: 17px 0 40px;
    }
    .icons {
        padding: 0 0 70px;
    }
    .icons-group {
        flex-wrap: wrap;
        padding-bottom: 24px;
    }
    .icon-group {
        width: 340px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: row;
        height: fit-content;
        column-gap: 16px;
    }
    .icon {
        max-height: 55px;
        max-width: 55px;
    }
    .third-block {
        column-gap: 29px;
    }
    .third-block * {
        max-width: 347px;
    }
    .third-block-img {
        background-size: contain;
    }
    .third-block h3 {
        font-size: 20px;
    }
    .third-block-description * {
        padding-bottom: 0;
    }
    .testimonials .container {
        padding: 33px 0 45px;
    }
    .faq .container {
        padding: 56px 0;
    }
    .faq-group {
        max-width: 720px;
    }
    .question, .answer {
        max-width: 665px;
        margin-right: 48px;
    }
    .question * {
        flex: 0 0 640px;
    }
    .question::before {
        flex-shrink: 0;
        content: '';
        background-image: url('../img/plus.png');
        background-repeat: no-repeat;
        left: 50px;
        right: 20px;
        top: 4px;
        bottom: 0;
        position: relative;
        display: block;
        height: 24px;
        width: 24px;
    }
    .flex-column {
        flex-basis: 100%;
        padding-bottom: 20px;
    }
    .flex-column p {
        padding-right: 0;
    }
    .flex-column .body-18 {
        padding-bottom: 46px;
    }
    form {
        display: flex;
        justify-content: center;
        column-gap: 24px;
        flex-wrap: wrap;
    }
    .form-group {
        flex: 1 0 352px;
        max-width: 348px;
        margin-bottom: 30px;
        max-height: 64px;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .desktop-menu {
        display: none;
    }
    .burger {
        display: block;
        width: 62px;
        height: 62px;
        cursor: pointer;
        margin: auto 0;
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
    }
    .container {
        max-width: 342px;
        margin: 0 auto;
    }
    .header.container {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
    }
    .hero {
        height: 596px;
        min-height: 596px;
    }
    .hero .container {
        margin: 172px auto 0;
    }
    .hero-img {
        background: url('../img/Lunch_atop_a_Skyscraper_small.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 596px;
        min-height: 596px;
    }
    .hero-header {
        margin: 0 auto;
    }
    .hero-header {
        width: 288px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .hero-header h1 {
        font-size: 24px;
        line-height: 32px;
        max-width: 476px;
        margin: 0 auto;
    }
    .hero-header p {
        font-size: 16px;
        line-height: 28px;
    }
    .hero-description {
        padding: 17px 0 40px;
    }
    .icons {
        padding: 0 0 30px;
    }
    .icons-group {
        flex-wrap: wrap;
        padding: 26px 0 24px;
    }
    .icon-group {
        width: 343px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: row;
        height: fit-content;
        column-gap: 16px;
    }
    .icon {
        max-height: 55px;
        max-width: 55px;
    }
    .third-block {
        flex-direction: column-reverse;
        max-width: 343px;
        row-gap: 7px;
    }
    .third-block * {
        width: 343px;
    }
    .third-block-img {
        background-size: contain;
    }
    .third-block-description * {
        padding-bottom: 27px;
        text-align: center;
    }
    .third-block-description h3 {
        padding-bottom: 0;
    }
    .testimonials .container {
        padding: 27px 0 33px;
        max-width: 100%;
        width: 100%;
    }
    .gtco-testimonials {
        margin-top: 26px;
    }
    .gtco-testimonials .owl-stage-outer {
        padding: 0;
    }
    .card {
        width: 343px;
        min-height: 300px;
        height: 300px;
        min-width: 343px;
        margin: 16px auto;
    }
    .card-body {
        padding: 16px;
    }
    .faq .container {
        padding: 56px 0;
    }
    .faq h2 {
        padding-bottom: 42px;
    }
    .faq-group {
        width: 343px;
        margin: 0 auto;
    }
    .question, .answer {
        max-width: 343px;
        margin-right: 0;
    }
    .question {
        padding: 16px 0;
        height: inherit;
        margin-right: 20px;
    }
    .question::before {
        left: 24px;
        top: 4px;
        flex-shrink: 0;
    }
    .question p {
        flex-shrink: 1;
    }
    .flex-columns {
        padding: 0;
    }
    .flex-column {
        flex-basis: 100%;
        padding-bottom: 0;
    }
    .flex-column .bold {
        padding: 16px 0 14px;
    }
    .flex-column p {
        padding-right: 0;
        padding-bottom: 20px;
    }
    .form .container {
        padding: 56px 0;
    }
    .form h2 {
        padding-bottom: 30px;
    }
    .form-group {
        flex: 1 0 288px;
        max-width: 420px;
        margin-bottom: 20px;
        max-height: 64px;
    }
    label {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
    .desktop-menu {
        display: none;
    }
    .burger {
        display: block;
    }
    .menu__btn {
        display: block;
        width: 62px;
        height: 62px;
        cursor: pointer;
        margin: auto 0;
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
    }
    .container {
        max-width: 288px;
        margin: 0 auto;
    }
    .header.container {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
    }
    .hero {
        height: 509px;
        min-height: 509px;
    }
    .hero .container {
        margin: 128px auto 0;
        padding: 0;
    }
    .hero-img {
        background: url('../img/Lunch_atop_a_Skyscraper_xsmall.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 509px;
        min-height: 509px;
    }
    .hero-header {
        max-width: 288px;
        margin: 0 auto;
    }
    .hero-header h1 {
        font-size: 24px;
        line-height: 32px;
        max-width: 288px;
    }
    .hero-header p {
        font-size: 16px;
        line-height: 28px;
    }
    .hero-description {
        padding: 10px 0 26px;
    }
    .icons {
        padding: 0 0 30px;
    }
    .icons-group {
        flex-wrap: wrap;
        padding: 26px 0 24px;
    }
    .icon-group {
        width: 288px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: row;
        height: fit-content;
        column-gap: 16px;
    }
    .icon {
        max-height: 55px;
        max-width: 55px;
    }
    .third-block {
        flex-direction: column-reverse;
        max-width: 288px;
        row-gap: 27px;
    }
    .third-block * {
        width: 288px;
    }
    .third-block-img {
        background-size: contain;
    }
    .third-block-description * {
        padding-bottom: 27px;
        text-align: center;
    }
    .testimonials .container {
        padding: 27px 0 33px;
        max-width: 100%;
        width: 100%;
    }
    .gtco-testimonials {
        margin-top: 26px;
    }
    .gtco-testimonials .owl-stage-outer {
        padding: 0;
    }
    .card {
        width: calc(100% - 20px);
        min-height: 335px;
        height: 335px;
        min-width: 288px;
    }
    .card-body {
        padding: 16px;
    }
    .faq .container {
        padding: 56px 0 73px;
    }
    .faq h2 {
        padding-bottom: 28px;
    }
    .faq-group {
        width: 288px;
        margin: 0 auto;
    }
    .question, .answer {
        max-width: 288px;
        margin-right: 0;
    }
    .question {
        padding: 16px 0;
        height: inherit;
        margin-right: 20px;
    }
    .question::before {
        left: 24px;
        top: 4px;
        flex-shrink: 0;
    }
    .question p {
        flex-shrink: 1;
    }
    .flex-columns {
        padding: 0;
    }
    .flex-column {
        flex-basis: 100%;
        padding-bottom: 0;
    }
    .flex-column .bold {
        padding: 16px 0 14px;
    }
    .flex-column p {
        padding-right: 0;
        padding-bottom: 20px;
    }
    .form .container {
        padding: 56px 0;
    }
    .form h2 {
        padding-bottom: 30px;
    }
    .form-group {
        flex: 1 0 288px;
        max-width: 420px;
        margin-bottom: 20px;
        max-height: 64px;
    }
    label {
        margin-bottom: 0;
    }
}